<section class="characters" id="characters">
  <div class="container">
    <h1 class="characters-title">Characters</h1>
    <ul class="characters-list">
      <li class="characters-items">
        <div class="characters-item">
          <div class="upper"></div>
          <div class="lower">
            <h3 class="characters-name">Mary</h3>
            <p class="characters-description">
              A resilient, passionate designer finding her new path.
            </p>
          </div>
        </div>
      </li>
      <li class="characters-items">
        <div class="characters-item">
          <div class="upper"></div>
          <div class="lower">
            <h3 class="characters-name">Grandma Elise</h3>
            <p class="characters-description">
              A former architect with a sharp tongue and a soft heart.
            </p>
          </div>
        </div>
      </li>
      <li class="characters-items">
        <div class="characters-item">
          <div class="upper"></div>
          <div class="lower">
            <h3 class="characters-name">Leo</h3>
            <p class="characters-description">
              Mary's high school friend turned carpenter, always showing up at
              the right (or wrong) time.
            </p>
          </div>
        </div>
      </li>
      <li class="characters-items">
        <div class="characters-item">
          <div class="upper">
            <picture>
              <source
                srcset="
                  ../img/characters/cat-pc.png    1x,
                  ../img/characters/cat-pc@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="../img/characters/cat.png "
                srcset="
                  ../img/characters/cat.png    1x,
                  ../img/characters/cat@2x.png 2x
                "
                alt="Mochi the Cat"
                class="characters-image"
              />
            </picture>
          </div>
          <div class="lower">
            <h3 class="characters-name">Mochi the Cat</h3>
            <p class="characters-description">
              Fluffy chaos in feline form. Loves cardboard boxes and falling
              asleep on blueprints.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
