<section class="cookies" id="cookies">
  <div class="container">
    <h2 class="cookie-title">Cookies Policy</h2>
    <p class="cookie-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookie-button-wrapper">
      <button class="cookie-button primary-button">ACCEPT COOKIES</button>
      <button class="cookie-button secondary-button">DECLINE COOKIES</button>
    </div>
  </div>
</section>
