<section class="policy">
  <div class="container">
    <a href="/src/index.html" class="policy-link-back">Go to home</a>
    <h2 class="policy-title">Cookies Policy</h2>
    <p class="policy-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <ol class="policy-list">
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
      <li class="policy-item">
        <p class="policy-item-text"></p>
      </li>
    </ol>
  </div>
</section>
