<section id="features" class="section">
  <div class="container stack-32">
    <div>
      <h2 class="section-title">Ключові можливості</h2>
      <p class="section-lead">
        Три-чотири основні пункти, що закривають біль користувача.
      </p>
    </div>
    <div class="grid features-grid">
      <article class="card feature reveal">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, odit
          earum, aliquam repellendus nulla mollitia deleniti unde culpa velit
          facere eligendi ducimus omnis maiores facilis autem explicabo
          consequuntur laborum distinctio. Dolorem accusantium illum quam atque
          facere laboriosam distinctio at repudiandae architecto, aspernatur
          cumque labore vero excepturi eos delectus, temporibus ipsam deserunt
          laborum cupiditate ad optio. Sed labore eos asperiores minima? Quae,
          ipsa laborum ea veritatis id sunt ratione deleniti, sequi quam vitae,
          sed suscipit veniam. Aperiam est et voluptas incidunt consequuntur
          facilis, quisquam illum, laudantium natus tempore ab iure ad. Vero eum
          aliquid itaque similique mollitia a repellat rem obcaecati cumque
          pariatur id inventore fuga repudiandae qui in esse, velit totam culpa
          assumenda corrupti eos officia! Consequuntur obcaecati dolor
          reprehenderit. Alias ea facilis, porro est aliquam animi corporis
          accusamus odio rerum, eius illum vero maiores nulla, quidem voluptatem
          distinctio magnam amet laudantium perspiciatis eveniet adipisci!
          Corporis optio maxime nam deserunt. Assumenda, quo explicabo
          perspiciatis, cumque, provident ullam nobis qui amet eligendi at eos
          asperiores et accusantium libero saepe reprehenderit corrupti eius
          expedita aperiam a? Dicta mollitia numquam rem dolore perferendis!
          Amet fuga dolore, vel debitis natus dignissimos delectus, incidunt
          repellendus reiciendis eaque vero fugit voluptate repellat
          praesentium. Vel, optio facilis. Magni, laudantium reprehenderit.
          Distinctio eveniet corrupti debitis, ut ea earum. Explicabo modi,
          similique eius animi autem vel pariatur cum dolorum esse quia
          assumenda aperiam est laboriosam. Fugit, corporis, esse voluptate
          error assumenda praesentium quae atque alias quo nesciunt dolorem
          eligendi. Harum alias voluptas dolore, excepturi aspernatur est veniam
        </p>
      </article>
    </div>
  </div>
</section>
