<section class="features" id="features">
  <div class="container features-container">
    <h2 class="features-title">Key Features</h2>
    <ul class="features-list">
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-pazl"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper pink">
          <p class="features-item-text">
            Design-Driven Puzzles: Play through tile-matching levels to unlock
            furniture, décor, and tools for renovations.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-info"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper blue">
          <p class="features-item-text">
            Choices That Matter: Decisions influence décor paths, relationships,
            and story direction.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-smile"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper peach">
          <p class="features-item-text">
            Heartfelt Storyline: Explore Mary's emotional highs and lows as she
            rebuilds her space and life.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-stars"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper pink">
          <p class="features-item-text">
            Real-Life Inspiration: Discover real design trends, color theory
            tips, and décor trivia.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-roll"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper green">
          <p class="features-item-text">
            Custom Interior Projects: Choose paint colors, furniture styles, and
            floor plans in each room you renovate.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-money"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper blue">
          <p class="features-item-text">
            Free to Play: All players welcome — with optional boosts and visual
            upgrades.
          </p>
        </div>
      </li>
      <li class="features-items">
        <div class="features-item-image-wrapper">
          <svg
            class="modal-menu-icon"
            width="20"
            height="20"
            aria-hidden="true"
          >
            <use href="ico-sprite.svg#icon-people"></use>
          </svg>
        </div>
        <div class="features-item-text-wrapper pink">
          <p class="features-item-text">
            Diverse Cast: Meet friendly neighbors, old flames, hidden rivals,
            and loyal sidekicks.
          </p>
        </div>
      </li>
    </ul>
    <div class="features-decoration">
      <img
        class="features-top"
        src="./img/features/top.png"
        alt="features-decoration"
        width="100px"
      />
      <img
        class="features-middle"
        src="./img/features/middle.png"
        alt="features-decoration"
        width="86px"
      />
      <img
        class="features-bottom"
        src="./img/features/bottom.png"
        alt="features-decoration"
        width="100px"
      />
    </div>
  </div>
</section>
