<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li class="link-item footer-privacy">
        <a href="./privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="link-item footer-cookies">
        <a href="./cookies-policy.html">Cookies Policy</a>
      </li>
      <li class="link-item footer-terms">
        <a href="./terms-and-conditions.html">Terms and Conditions</a>
      </li>
    </ul>
    <p>All rights reserved designxwu.pro | 2025</p>
  </div>
</footer>
