<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img class="nav-logo-icon" width="40" src="{=$icon-path}" />
        </a>
        <li class="nav-item">
          <a href="#hero" class="nav-link">Game Description</a>
        </li>
        <li class="nav-item">
          <a href="#hero" class="nav-link">Key Features</a>
        </li>
        <li class="nav-item">
          <a href="#hero" class="nav-link">Characters</a>
        </li>
        <li class="nav-item"><a href="#hero" class="nav-link">Gallery</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">Download</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">Contacts</a></li>
      </ul>
      <ul class="nav-list-mobile">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img class="nav-logo-icon" width="40" src="{=$icon-path}" />
        </a>
        <li class="nav-item-mobile">
          <a href="#hero" class="nav-link">Mary's Life: A Makeover Story</a>
        </li>
        <li class="nav-item-mobile">
          <svg
            width="20"
            height="14"
            viewBox="0 0 20 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 7H7M19 1H1M19 13H1"
              stroke="#04090F"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</header>
