<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img class="nav-logo-icon" width="40" src="{=$icon-path}" />
        </a>
        <li class="nav-item">
          <a href="#description" class="nav-link">Game Description</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Key Features</a>
        </li>
        <li class="nav-item">
          <a href="#hero" class="nav-link">Characters</a>
        </li>
        <li class="nav-item"><a href="#hero" class="nav-link">Gallery</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">Download</a></li>
        <li class="nav-item"><a href="#hero" class="nav-link">Contacts</a></li>
      </ul>
      <ul class="nav-list-mobile">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img class="nav-logo-icon" width="40" src="{=$icon-path}" />
        </a>
        <li class="nav-item-mobile">
          <a href="#hero" class="nav-link">Mary's Life: A Makeover Story</a>
        </li>
        <li class="nav-item-mobile">
          <div class="nav-burger"><span></span></div>
        </li>
      </ul>
    </nav>
  </div>
</header>
