<section class="hero" id="#hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Mary's Life: A Makeover Story</h1>
      <h2 class="hero-sub-title">Rebuild Dreams. Redesign Life!</h2>
      <div class="hero-main-image-wrapper"></div>
      <div class="hero-cat-image-wrapper"></div>
      <button class="hero_button">
        <img
          src="../img/logos_google-play-icon.png"
          alt="logo google"
          width="16"
        />Start Decorating With Mary!
      </button>
    </div>
    <!--<img src="./images/hero-img.svg" alt="hero-img" width="610" height="555" class="hero-img" />-->
  </div>
</section>
