<section class="hero" id="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">Mary's Life: A Makeover Story</h1>
        <h2 class="hero-sub-title">Rebuild Dreams. Redesign Life!</h2>
        <button class="hero_button">
          <img
            src="./img/logos_google-play-icon.png"
            alt="logo google"
            width="16"
          />Start Decorating With Mary!
        </button>
      </div>
      <div class="hero-main-image-wrapper"></div>
      <div class="hero-cat-image-wrapper"></div>
    </div>
  </div>
</section>
