<div class="modal-menu">
  <div class="container">
    <nav class="nav-modal">
      <ul class="nav-modal-list">
        <li class="nav-item-modal">
          <a href="#description" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-file"></use>
            </svg>
            Game Description
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#features" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-Icon-17"></use>
            </svg>
            Key Features
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-people"></use>
            </svg>
            Characters
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-img"></use>
            </svg>
            Gallery
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-question"></use>
            </svg>
            FAQ
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-download"></use>
            </svg>
            Download
          </a>
        </li>

        <li class="nav-item-modal">
          <a href="#" class="nav-link">
            <svg
              class="modal-menu-icon"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="ico-sprite.svg#icon-Icon-19"></use>
            </svg>
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
