:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Coiny', system-ui, 'Open Sans', sans-serif, -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;

  --main-color: #04090f;
  --main-bg-color: #FFFEFB;
  --main-yellow: #FFF5C9;
  --main-pink: #FFC9E6;
  --main-green: #DEFFC9;
  --main-green-hover: #E6FFD7;
  --main-green-active: #CFFFB2;
  --main-peach: #FFDBC9;
  --main-blue: #ACEAF7;
  --main-grey: #515151;

  color: var(--main-color);

  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("../img/bg-image.jpg");
  background-position: center;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}