.features {
	margin-bottom: 56px;
}

.features-container {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features-title {
	font-family: "Coiny", sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	padding-bottom: 12px;
}

.features-list {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 12px;
	width: 100%;
	z-index: 1;
}

.features-items {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	width: 282px;
}

.features-items:nth-child(odd) {
	flex-direction: row-reverse;
	align-self: flex-start;
}

.features-items:nth-child(even) .features-item-text-wrapper {
	padding: 8px 12px 8px 20px;
	border-radius: 80px 0 0 80px;
}

.features-item-image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	border-radius: 360px;
	width: 32px;
	height: 32px;
	box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
	background: var(--main-yellow);
}

.features-item-text-wrapper {
	display: flex;
	align-items: center;
	max-width: 242px;
	width: 100%;
	justify-content: center;
	padding: 8px 20px 8px 12px;
	margin: 0;
	border-radius: 0 80px 80px 0;
	height: 100%;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.features-item-text-wrapper.pink {
	background-color: var(--main-pink);
}

.features-item-text-wrapper.blue {
	background-color: var(--main-blue);
}

.features-item-text-wrapper.peach {
	background-color: var(--main-peach);
}

.features-item-text-wrapper.green {
	background-color: var(--main-green);
}

.features-item-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 120%;
	color: var(--main-color);
	text-indent: 6px;
}

.features-decoration {
	display: none;
}

@media only screen and (min-width: 1200px) {
	.features {
		margin-bottom: 116px;
	}

	.features-title {
		font-size: 36px;
		padding-bottom: 24px;
	}

	.features-list {
		gap: 20px;
	}

	.features-items {
		height: 132px;
		width: 660px;
		gap: 16px;
	}

	.features-item-text-wrapper {
		padding: 24px 32px 24px 26px;
		max-width: 588px;
	}

	.features-item-image-wrapper {
		width: 50px;
		height: 50px;
	}

	.features .modal-menu-icon {
		width: 36px;
		height: 36px;
	}

	.features-item-text {
		font-size: 20px;
		line-height: 150%;
	}

	.features-decoration {
		position: absolute;
		top: -100px;
		right: 24px;
		display: block;
		width: 200px;
		height: 320px;
		z-index: 0;
	}

	.features-top {
		position: absolute;
		right: 0;
		bottom: 220px;
		/*box-shadow: 2px 3px 4px 0 rgba(4, 9, 15, 0.24);*/
		transform: rotate(-23deg);
	}

	.features-middle {
		position: absolute;
		right: 20px;
		bottom: 100px
	}

	.features-bottom {
		position: absolute;
		bottom: 0;
	}
}