.hero {
	padding-bottom: 56px;
}

.hero-wrapper {
	position: relative;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 16px;
	padding: 0 12px;
	margin: 0 auto;
	width: 100%;
	height: 210px;
}

.hero-title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-main-image {
	position: relative;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	max-width: none;
	height: auto;
	z-index: 5;
}

.hero-title {
	display: none;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.5;
	margin-bottom: 18px;
}

.hero-sub-title {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: var(--main-grey);
	max-width: 100%;
	margin-top: 30px;
}


.hero-cat-image-wrapper {
	position: absolute;
	top: 96px;
	left: 10px;
	width: 56px;
	height: 84px;
	background-image: url("../img/cat_hero.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.hero-button {
	position: absolute;
	left: 0;
	bottom: 0;
	border: 0;

	display: flex;
	align-items: center;
	justify-content: start;
	gap: 12px;

	border-radius: 12px;
	width: 100%;
	height: 40px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
	background: var(--main-green);

	font-size: 12px;
	line-height: 1;
	transition: all 300ms ease-in;
	z-index: 5;
}

.hero-button-gplay {
	margin-left: 32px;
	max-width: none;
	width: 24px;
}

.hero-button:hover {
	background: var(--main-green-hover);
}

.hero-button:active {
	background: var(--main-green-active);
}

.hero-button-decoration-left {
	display: none;
}

.hero-button-decoration-right {
	display: none;
}

.hero-button-decoration-bottom {
	display: none;
}


@media only screen and (min-width: 1200px) {

	.hero-wrapper {
		padding: 0 32px;
		gap: 44px;
		height: 450px;
	}

	.hero-title {
		display: block;
		margin: 0;
	}

	.hero-sub-title {
		margin: 0;
		font-size: 28px;
		min-width: 100%;
		padding: 12px 0 132px 0;
	}

	.hero-title-wrapper {
		padding-top: 32px;
	}

	.hero-cat-image-wrapper {
		display: none;
	}

	.hero-button {
		position: relative;
		font-size: 20px;
		width: 400px;
		height: 68px;
		gap: 16px;
		z-index: 20;
	}

	.hero-button-gplay {
		margin-left: 32px;
	}

	.hero-button-decoration-left {
		display: block;
		position: absolute;
		left: 56px;
		top: 204px;
		margin: 0;
		padding: 0;
		z-index: 2;
	}


	.hero-button-decoration-right {
		display: block;
		position: absolute;
		right: 424px;
		top: 224px;
		margin: 0;
		padding: 0;
		z-index: 2;
	}

	.hero-button-decoration-bottom {
		display: block;
		position: absolute;
		right: 298px;
		bottom: -28px;
		margin: 0;
		padding: 0;
		z-index: 2;
	}
}